
.advantages__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  margin: 0 auto;
  /*margin-bottom: 15px;*/
  padding: 0;
  text-align: center;
}

.advantages__slogan {
  padding: 0;
  font-size: $font-size-large;
  line-height: 29px;
  color: $primary-color;
  font-weight: 200;
  margin-bottom: 29px;
}

.advantages__list-cover {
  background: $bg-color url("../img/bg-triangle-white1.svg") no-repeat;
  /*background-position: 50% calc(-445px + 14vw);
  background-size: cover;*/
  background-size: 101% auto;
}

.advantages__list-wrapper {
  padding-top: 76px;
  /*background-image: linear-gradient(to bottom, -5deg, $second-color 100px, $bg-color 100px);
  background-position: 50% 0;
  background-size: cover;*/
  /*background: $bg-color url("../img/bg-triangle-white1.svg") no-repeat 50% 0;*/
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  margin-bottom: 18px;
}

.advantages__title {
  font-size: $font-size-medium;
  line-height: $line-height-sm;
  color: $primary-color;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.advantages__text {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-color;
  font-weight: 400;
  margin-bottom: 22px;
  padding: 0 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    width: 620px;
  }

  .advantages__slogan {
    font-size: $font-size-title;
    line-height: 42px;
    margin-bottom: 6px;
  }

  .advantages__slogan--narrow {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 44px;
  }

  .advantages__list-cover {
    /*background-position: 50% -210px; */
    height: 495px;
    margin-bottom: 60px;
  }

  .advantages__list-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 126px;
    padding: 0;
  }

  .advantages__list {
    width: 310px;
    margin-right: 20px;
    margin-top: 80px;
  }

  .advantages__title {
    margin-top: 12px;
    text-align: left;
  }

  .advantages__text {
    margin-bottom: 28px;
    padding: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list-cover {
    height: auto;
    margin: 0;
    /*background-position: 50% -192px; */
    /*background-image: linear-gradient(to bottom, $second-color 85px, $bg-color 85px);*/
    /*background: $bg-color;
    width: 100%;
    margin-top: 85px;*/
  }

  .advantages__list-wrapper {
    width: 1000px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }

  .advantages__slogan {
    width: 770px;
    margin: 0;
    font-size: $font-size-title-desktop;
    line-height: $line-height-title-desktop;
  }

  .advantages__slogan--narrow {
    width: 420px;
    margin-bottom: 70px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;
    margin: 0;
    margin-left: 13px;
    padding: 0 30px;
  }

  .advantages__list li:nth-child(2) {
    padding: 0 57px;
  }


  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 241px;
    margin-right: 0;
    margin-left: 10px;
  }

  .advantages__title {
    max-width: 224px;
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: $font-size-adv;
    line-height: $line-height-large;
    text-align: center;
  }

  .advantages__text {
    margin-bottom: 65px;
    padding: 0;
    font-size: $font-size-medium;
    line-height: $line-height-large;
    text-align: center;
  }
}
