
.advantages__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.advantages__slogan {
  padding: 0;
  font-size: $font-size-large;
  line-height: $line-height-base;
  color: $primary-color;
  font-weight: 200;
  margin-bottom: 32px;
}

.advantages__list-wrapper {
  padding-top: 85px;
  background: $bg-color url("../img/bg-triangle-white1.svg") no-repeat top;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title {
  font-size: $font-size-medium;
  line-height: $line-height-sm;
  color: $primary-color;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.advantages__text {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-color;
  font-weight: 400;
  margin-bottom: 35px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    width: 620px;
  }

  .advantages__slogan {
    font-size: $font-size-title;
    line-height: $line-height-title;
  }

  .advantages__slogan--narrow {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .advantages__list-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .advantages__list {
    width: 310px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list-wrapper {
    width: $desktop-width;
    margin: 0 auto;
    flex-direction: column-reverse;
  }

  .advantages__slogan {
    font-size: $font-size-title-desktop;
    line-height: $line-height-title-desktop;
    width: 770px;
  }

  .advantages__slogan--narrow {
    width: 420px;
    margin-bottom: 165px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 20px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 241px;
  }

  .advantages__title {
    font-size: $font-size-adv;
    line-height: $line-height-large;
    margin-bottom: 26px;
  }

  .advantages__text {
    font-size: $font-size-medium;
    line-height: $line-height-large;
    margin-bottom: 35px;
  }
}
