.button {
  width: 206px;
  padding: 15px 37px;
  font-size: $font-size-medium;
  line-height: $line-height-med;
  font-weight: 600;
  color: $second-color;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 0 0 3px #ffffff;
}
