.button {
  width: 206px;
  padding: 14px 35px 17px 35px;
  font-size: $font-size-medium;
  line-height: $line-height-med;
  font-weight: 600;
  color: $second-color;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 0 0 3px #ffffff;

  &:hover {
    font-weight: 400;
    color: $highlight-color;
    background-color: $second-color;
  }

  &:active {
    font-weight: 400;
    color: $highlight-color-active;
    background-color: $second-color;
  }

  &--competition {
    width: 100%;
    margin-bottom: 34px;
    padding: 24px 35px 22px 35px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 1px;
    border: 0;
    box-shadow: none;
    background-color: #2aab6d;

    &:hover {
      color: $second-color;
      font-weight: 600;
      background-color: #1c9b5e;
    }

    &:active {
      outline: none;
      font-weight: 600;
      color: #65b389;
      background-color: #1c9b5e;
    }

    &:disabled {
      color: $second-color;
      background-color: #e5e5e5;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 15px 45px 16px 45px;

    &--competition {
      width: auto;
      padding: 23px 57px 21px 56px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 237px;
    font-size: $font-size-btn-desktop;
    line-height: $line-height-med;
    padding: 15px 30px;

    &--competition {
      box-sizing: border-box;
      width: 300px;
      margin: 0;
      padding: 19px 57px 15px 56px;

      font-size: $font-size-medium;
      line-height: $line-height-large;
    }
  }
}
