.downloads {
  margin-bottom: 41px;
  min-height: 394px;
  height: auto;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 31px) 108px, 50% -68px;
  background-size: 258px auto, contain;

  @media
  (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.downloads--clear {
  min-height: 462px;
  margin-top: -67px;
  background-position: calc(50% - 34px) 177px, 50% 0;
}

@media (min-width: 463px) {
  .downloads {
    background-size: 258px auto, cover;
  }
}


/*.downloads__img-wrapper {
  min-height: 397px;

  background: /*url("../img/iphone-hand-mobile@1x.png") no-repeat right 62px bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  order: 2;
}
*/

.downloads__img {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-right: 56px;
  padding: 0;
  padding-top: 105px;
  vertical-align: bottom;
  order: 1;
}

.downloads__img-wrapper {
  order: 2;
}

.downloads__img-container {
  width: 300px;
  min-height: 394px;

  &--clear {
    min-height: 462px;
  }
}

/*@media (min-width: 463px) {
  .downloads {
    background-size: 258px auto, cover;
  }
}*/

@media (min-width: $tablet-width) {
  .downloads {
    min-height: 619px;
    margin-top: -110px;
    margin-bottom: 55px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 185px, 50% 0;
    background-size: 700px auto, cover;

    @media
    (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .downloads--clear {
    min-height: 729px;
    margin-top: -110px;
    margin-bottom: 52px;
    background-position: 50%  185px, 50% 0;
    background-size: 700px auto, cover;
  }

  .downloads__img-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .downloads__img-container {
    width: 300px;
    order: 2;
  }

  .downloads__img {
    width: 545px;
    /* height: 700px; */
    padding-top: 70px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    min-height: 853px;
    margin-bottom: 67px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: calc(50% + 70px) bottom, 50% 50%;
    background-size: 1050px auto, cover;

    @media
    (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .downloads__img-wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .downloads__img-container {
    width: 570px;
  }

  .downloads__img {
    width: 545px;
    padding-top: 205px;
    margin-right: 45px;
  }
}
