.main-nav {
  width: 100%;
  /* min-height: 66px; */
  margin: 0 auto;
  padding: 0;
  /* background-color: rgba(178, 178, 178, 0.7); */
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 27px;
  margin: 20px 20px 19px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  /*background: url("../img/icon-menu-cross.svg") no-repeat; */
  order: 2;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 4px;

  background-color: $second-color;
  box-shadow: 0 10px 0 0 $second-color, 0 20px 0 0 $second-color;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: $highlight-color;
  box-shadow: 0 10px 0 0 $highlight-color, 0 20px 0 0 $highlight-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $highlight-color-active;
  box-shadow: 0 10px 0 0 $highlight-color-active, 0 20px 0 0 $highlight-color-active;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    right: -3px;

    width: 28px;
    height: 4px;

    background-color: $second-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $highlight-color;
  }

  &:active::before,
  &:active::after {
    background-color: $highlight-color-active;
  }
}

.main-nav--opened .site-list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $primary-color;
  list-style: none;
}

.main-nav--opened .site-list a {
  padding: 15px 25px;
  font-size: $font-size-medium;
  line-height: $line-height-nav;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: $second-color;
}

.main-nav--opened .site-list__item {
  padding: 15px 0;  /*15px 0 16px 0; для photo.html */
  color: $second-color;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000001;
}

@media (max-width: $desktop-width) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    margin: 44px 20px 17px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin: 0;
    padding: 0;
    width: 622px;
    margin-left: auto;
    padding-top: 38px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .site-list {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
  }

  .main-nav--opened .site-list a {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: none;
  }

  .main-nav--opened .site-list__item {
    padding: 0;
  }
}
