.map {
  min-height: 200px;
  background-color: #eae6dd;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: cover auto;
  }
}

.map-block {
  position: relative;
  display: block;
  min-height: 200px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 35px;
    height: auto;
    background-image: url("../img/bg-triangle-white-footer1.svg");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 101% 100%;
  }
}

.map-google {
  width: 100%;
  height: 200px;
}

@media (min-width: $tablet-width) {
  .map {
    min-height: 374px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: cover 374px;
    }
  }

  .map-block {
    position: relative;
    display: block;
    /*min-height: 374px; */
    height: 374px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      min-height: 68px;
      height: 18.18%;/*68px*/
    }
  }

  .map-google {
    margin: 0;
    padding: 0;
    border: 0;
    height: 374px;
    font-size: 0;
  }

  iframe.map-google {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-height: 501px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: cover 501px;
    }
  }

  .map-block {
    min-height: 501px;

    &::after {
      content: "";
      position: absolute;
      height: 120px;
      background-position: 50% -1px;
      background-size: contain;
    }
  }

  .map-google {
    height: 501px;
  }
}
