.member-form__subtitle {
  font-size: $font-size-base;
  line-height: $line-height-large;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  &--hidden {
    display: none;
  }
}

.member-form__main-block {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto 43px auto;

  &--success {
    margin: 0 auto 32px auto;
  }

  &--operating-system {
    margin: 0 auto 1px auto;
  }

  &--btn {
    margin: 0 auto 20px auto;
  }
}

.member-form__label {
  display: block;
  box-sizing: border-box;
  font-size: $font-size-base;
  line-height: $line-height-large;
  font-weight: 400;
  text-transform: uppercase;
  color: $highlight-color;
  width: 100%;
  padding-left: 22px;
  margin-bottom: 5px;
  text-align: left;

  /*&--title {
    padding-left: 2px;
  }

  &--emotion {
    padding-left: 48px;
    padding-top: 12px;
    padding-top: 12px;
    margin-bottom: 10px;
  }*/
}

.member-form__input {
  display: block;
  box-sizing: border-box;
  font: inherit;
  font-size: $font-size-medium;
  line-height: $line-height-large;
  font-weight: 400;
  color: $primary-color;
  width: 100%;
  margin: 0;
  margin-bottom: 17px;
  padding: 14px 22px 15px 21px;
  text-align: left;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &::placeholder {
    color: $primary-color;
  }

  &:hover,
  &:focus {
    border: 2px solid $primary-color;
    outline: none;
  }

  &:active {
    border: 2px solid $highlight-color;
    outline: none;
  }
}

.member-form__grey-block {
  background-color: $bg-color;
}

.member-form__form legend {
  font-size: $font-size-base;
  line-height: $line-height-med;
  font-weight: 400;
  text-transform: uppercase;
  color: $highlight-color;
  width: 100%;
  padding-top: 37px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 23px;
  text-align: center;
}

.member-form__tel-legend {
  display: none;
}

.member-form__check {
  padding: 20px 0 0 30px;
}

.member-form__check-item {
  position: relative;
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 47px;
  }
}

.member-form__label-check {
  font-size: $font-size-medium;
  line-height: $line-height-large;
  font-weight: 400;
  color: $primary-color;
  padding-top: 37px;
  padding-left: 39px;
  padding-right: 25px;
  margin-bottom: 25px;


  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: -4px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid $primary-color;
  }

  &:active::before {
    border: 2px solid $highlight-color;
  }
}

.member-form__checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -4px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  background-image: url("../img/icon-yes1.svg");
  background-repeat: no-repeat;
  background-position: 8px 10px;
  background-size: 22px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.member-form__radio {
  padding-top: 16px;
  padding-bottom: 2px;
}

.member-form__radio-item {
  position: relative;
  margin-bottom: 45px;
}

.member-form__label-radio {
  font-size: $font-size-medium;
  line-height: $line-height-large;
  font-weight: 400;
  color: $primary-color;
  padding-top: -5px;
  padding-left: 69px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.member-form__radiobox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 3px solid #e5e5e5;
  background-color: #ffffff;
}

.member-form__radiobox:hover + label::before,
.member-form__radiobox:focus + label::before {
  border: 2px solid $primary-color;
}

.member-form__radiobox:active + label::before {
  border: 2px solid $highlight-color;
}

.member-form__radiobox:checked + label::after {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $highlight-color;
}

.member-form__emotion textarea {
  box-sizing: border-box;
  width: 100%;
  margin-top: -6px;
  margin-bottom: -1px;
  padding-left: 18px;
  padding-top: 13px;
  padding-bottom: 2px;
  padding-right: 15px;
  font: inherit;
  font-size: $font-size-medium;
  line-height: $line-height-large;
  font-weight: 400;
  color: $primary-color;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &::placeholder {
    color: $primary-color;
  }
}

.member-form__required {
  font-size: $font-size-base;
  line-height: $line-height-large;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;

  &--hidden {
    display: none;
  }

  & span {
    color: $highlight-color;
  }
}

@media (min-width: $tablet-width) {
  .member-form__form {
    display: flex;
    flex-direction: column;
  }

  .member-form__main-block,
  .member-form__main-block--success,
  .member-form__main-block--operating-system {
    margin-bottom: 0;
  }

  .member-form__fullname {
    margin-bottom: 36px;
    order: 1;
  }

  .member-form__system {
    order: 2;
    margin-bottom: 48px;
  }

  .member-form__tel {
    order: 3;
    margin-bottom: 50px;
  }

  .member-form__success {
    order: 4;
    margin-bottom: 50px;
  }

  .member-form__emotion {
    order: 5;
    margin-bottom: 68px;
  }

  .member-form__main-block--btn {
    order: 6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  .member-form__grey-block {
    background-color: #ffffff;
  }

  .member-form__subtitle {
    font-size: $font-size-medium;
    line-height: $line-height-large;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    padding-top: 91px;
    padding-bottom: 90px;
    padding-left: 82px;
    padding-right: 82px;

    &--hidden {
      display: inline;
    }
  }

  .member-form__line {
    display: flex;
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .member-form__label {
    display: inline-block;
    width: auto;
    padding-left: 0;
    margin-right: 17px;
    margin-bottom: 5px;
  }

  .member-form__input {
    flex-grow: 1;
    width: auto;
    margin: 0;
    margin-top: -19px;
    margin-bottom: 17px;
  }

  .member-form__main-block--operating-system fieldset {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  .member-form__form legend {
    width: auto;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    line-height: $line-height-large;
  }

  .member-form__legend-system {
    padding-left: 56px;
  }

  .member-form__radio {
    padding: 20px 58px 15px 58px;
  }

  .member-form__label-radio {
    padding-left: 60px;
  }

  .member-form__tel-legend {
    display: inline-block;
    width: auto;
    margin: 0;
    padding-left: 25px;
  }


  .member-form__tel fieldset {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 27px 58px 15px 58px;
  }

  .member-form__tel-line {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .member-form__tel-label {
    position: relative;
    margin-top: -5px;
    margin-bottom: 36px;
    padding-left: 20px;

    &--last {
      margin-bottom: 0;
    }
  }

  .member-form__tel-input[type="tel"] {
    padding-left: 18px;
    background-image: url("../img/icon-phone1.svg"), linear-gradient(to left, #e5e5e5 60px, #ffffff 60px);
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 20px) 50%, 0 0;
  }

  .member-form__tel-input[type="email"] {
    padding-left: 18px;
    background-image: url("../img/icon-mail1.svg"), linear-gradient(to left, #e5e5e5 60px, #ffffff 60px);
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 20px) 50%, 0 0;
  }

  .member-form__success fieldset {
    padding: 1px 20px 30px 58px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  .member-form__label-check {
    padding-left: 29px;
  }

  .member-form__check-item:last-child {
    margin-bottom: 22px;
  }

  .member-form__emotion fieldset {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 15px 58px 45px 58px;
  }

  .member-form__emotion textarea {
    padding-top: 15px;
    padding-bottom: 0;
    line-height: 29px;
  }

  .member-form__required {
    margin-top: 17px;
    letter-spacing: -1.25px;
  }
}

@media (min-width: $desktop-width) {
  .member-form__subtitle {
    box-sizing: border-box;
    width: 770px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }

  .member-form__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .member-form__main-block {
    padding: 0;
  }

  .member-form__fullname {
    box-sizing: border-box;
    width: 46.17%;
    margin: 0;
    margin-bottom: 36px;
    margin-top: 43px;
    padding: 0;
    padding-left: 10px;
  }

  .member-form__line {
    margin-bottom: 55px;
  }

  .member-form__system {
    box-sizing: border-box;
    width: 45.2%;
    margin-top: 5px;
    margin-bottom: 48px;
    margin-right: 10px;
  }

  .member-form__tel {
    margin-bottom: 52px;
  }

  .member-form__success {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .member-form__emotion {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  .member-form__main-block--btn {
    width: 940px;
    margin: 0 auto;
  }

  .member-form__radio {
    padding: 22px 58px 14px 72px;
  }

  .member-form__tel fieldset {
    box-sizing: border-box;
    width: 940px;
    margin: 0 auto;
    padding: 23px 58px 2px 58px;
  }

  .member-form__tel-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .member-form__tel-line {
    width: 46%;
  }

  .member-form__tel-label {
    margin-bottom: 0;
  }

  .member-form__tel-input {
    margin-bottom: 15px;
  }

  .member-form__main-block--success fieldset {
    box-sizing: border-box;
    padding: 0 58px 5px 58px;
  }

  .member-form__check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 0;
  }

  .member-form__check-item {
    box-sizing: border-box;
    padding-left: 24px;

    &:first-child {
      width: 260px;
      order: 1;
    }

    &:nth-child(2) {
      width: 260px;
      order: 4;
    }

    &:nth-child(3) {
      width: 245px;
      order: 2;
    }

    &:nth-child(4) {
      width: 245px;
      order: 5;
    }

    &:nth-child(5) {
      width: 210px;
      order: 3;
    }

    &:nth-child(6) {
      width: 210px;
      order: 6;
    }
  }

  .member-form__label-check {
    padding-top: 37px;
    padding-left: 36px;
    padding-right: 25px;
    margin-bottom: 25px;


    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
    }
  }

  .member-form__checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
  }

  .member-form__emotion fieldset {
    padding: 13px 58px 40px 58px;
  }

  .member-form__emotion textarea {
    height: 125px;
    padding-top: 15px;
    padding-bottom: 0;
  }

  .member-form__required {
    margin-top: 17px;
    letter-spacing: 0.1px;
  }

  span.member-form__required--hidden {
    display: inline;
    color: $primary-color;
  }
}
