.modal {
  font-size: $font-size-medium;
  line-height: $line-height-base;
  color: $primary-color;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2); /*0 7px 15px 0 rgba(0, 0, 0, 0.15); */
  text-align: center;
}

.modal__sent,
.modal__unsent {
  display: none;
  position: fixed;
  top: 120px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  order: 5;
}

.modal__show {
  display: block;
  animation: bounce 0.6s;
}


.modal__title {
  font-size: $font-size-medium;
  line-height: $line-height-base;
  font-weight: 600;
  padding-top: 43px;
  margin-bottom: 33px;
}

.modal__text {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal__btn-wrapper {
  background-color: $bg-color;

  &--unsent {
    background-color: #ffffff;
  }
}

.modal__close {
  width: 280px;
  margin: 45px 20px 55px 20px;
}

.modal__close-unsent {
    width: 280px;
    margin: 45px auto 55px auto;
}

@media (min-width: $tablet-width) {
  .modal__sent,
  .modal__unsent {
    left: 50%;
    margin-left: -232px;
    width: 463px;
    border-radius: 3px;
  }

  .modal__title {
    font-size: $font-size-adv;
    line-height: $line-height-title;
    padding-top: 43px;
    margin-bottom: 30px;
  }

  .modal__text {
    font-size: $font-size-medium;
    line-height: $line-height-base;
    font-weight: 400;
    margin-bottom: 35px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .modal__text br {
    display: none;
  }

  .modal__btn-wrapper--unsent {
    background-color: $bg-color;
  }

  .modal__close,
  .modal__close-unsent {
    width: 280px;
    margin: 47px 80px 53px 80px;
  }
}

@media (min-width: $desktop-width) {
  .modal__sent,
  .modal__unsent {
    width: 780px;
    margin-left: -390px;
  }

  .modal__title {
    font-size: $font-size-adv;
    line-height: $line-height-title;
    padding-top: 48px;
    margin-bottom: 30px;
  }

  .modal__text {
    margin-bottom: 43px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .modal__close,
  .modal__close-unsent {
    width: 460px;
    margin: 47px 160px 53px 160px;
  }
}
