.operating-systems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
}

.operating-systems__link {
  margin-top: 28px;
  margin-bottom: 30px;
}

.operating-systems__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  margin-bottom: 25px;
  /* height: 60px;
  list-style: none; */
}

.operating-systems__item--apple {
  width: 46px;
  height: 57px;
  background: url("../img/logo-apple.svg") no-repeat;
}

.operating-systems__item--android {
  width: 42px;
  height: 57px;
  background: url("../img/logo-android.svg") no-repeat;
}

.operating-systems__item--windows {
  width: 44px;
  height: 42px;
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.operating-systems-title {
  display: none;
  text-align: center;
  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: 200;
  color: $second-color;
}

.operating-systems__text {
  display: block;
  width: 280px;
  text-align: center;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 200;
  color: $second-color;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .operating-systems {
    width: 300px;
    background-color: transparent;
    margin-top: 95px;
    order: 2;
  }

  .operating-systems-title {
    display: block;
    width: 200px;
  }

  .operating-systems__text {
    width: 300px;
    font-size: $font-size-medium;
    line-height: $line-height-base;
    margin-bottom: 115px;
  }
}

@media (min-width: $desktop-width) {
  .operating-systems {
    margin-top: 220px;
  }

  .operating-systems-title {
    width: 215px;
    font-size: $font-size-title-desktop;
    line-height: $line-height-title-desktop;
  }
}
