.operating-systems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
}

.operating-systems__link {
  margin-top: 31px;
  margin-bottom: 40px;
}

.operating-systems__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 241px;
  margin-bottom: 12px;
  /* height: 60px;
  list-style: none; */
}

.operating-systems__item--apple {
  width: 46px;
  height: 57px;
  margin-top: -13px;
  margin-left: -1px;
  background: url("../img/logo-apple.svg") no-repeat;
}

.operating-systems__item--android {
  width: 42px;
  height: 57px;
  margin-left: -2px;
  margin-top: 3px;
  background: url("../img/logo-android.svg") no-repeat;
}

.operating-systems__item--windows {
  width: 44px;
  height: 42px;
  margin-top: -5px;
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.operating-systems__title {
  display: none;
  text-align: center;
  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: 200;
  color: $second-color;
}

.operating-systems__text {
  display: block;
  width: 280px;
  text-align: center;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 200;
  color: $second-color;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .operating-systems {
    width: 300px;
    background-color: transparent;
    margin-top: 206px;
    order: 2;
  }

  .operating-systems__link {
    margin-top: 33px;
    margin-bottom: 55px;
  }

  .operating-systems__list {
    margin-bottom: 29px;
  }

  .operating-systems__title {
    display: block;
    width: 200px;

    line-height: 48px;
  }

  .operating-systems__item--android {
    margin-top: 0;
  }

  .operating-systems__text {
    width: 300px;
    font-size: $font-size-medium;
    line-height: $line-height-base;
    margin-bottom: 109px;
  }
}

@media (min-width: $desktop-width) {
  .operating-systems {
    margin-top: 220px;
  }

  .operating-systems__link {
    margin-top: 60px;
    margin-bottom: 63px;
  }

  .operating-systems__list {
    margin-bottom: 52px;
  }

  .operating-systems__title {
    width: 215px;
    font-size: $font-size-title-desktop;
    line-height: $line-height-title-desktop;
  }
}
