.page-main__header {
  background-color: $primary-color;
  background-image:  url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -68px;
  background-size: cover;

  @media
  (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-main__header--clear {
  margin-top: -110px;
  padding-top: 145px;
  background-position: 50% 40px;
}


.page-main__title {
  display: block;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 29px;
  padding-bottom: 83px;
  font-size: $line-height-base;
  line-height: 29px;
  font-weight: 200;
  letter-spacing: -1px;
  text-align: center;
  color: $second-color;
}

/*.page-main__title--clear {
  padding-top: 145px;
}*/

@media (min-width: $tablet-width) {
  .page-main__header {
    background-image: url("../img/bg-back-tablet@1x.jpg");

      @media
      (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }

  .page-main__header--clear {
    margin-top: -110px;
  }

  .page-main__title {
    font-size: $font-size-title-desktop;
    line-height: $line-height-title-tablet;
    letter-spacing: -2.2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 207px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    background-image: url("../img/bg-back-desktop@1x.jpg");

      @media
      (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }

  .page-main__title {
    display: block;
    width: 345px;
    margin: 0 auto;
    padding: 32px 0 103px 0;
    line-height: 57px;
    letter-spacing: 0;
  }
}
