.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  width: 146px;
  margin: 35px auto;
}

.page-footer__social {
  width: 180px;
  margin: 0 auto 35px auto;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
  padding: 0 50px;

  font-size: $font-size-base;
  line-height: $line-height-med;
  font-weight: 400;
  color: $primary-color;
}

.page-footer__htmlacademy {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 35px;
  }

  .page-footer--index {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 150px;
    margin: 0;
  }

  .page-footer__social {
    margin-top: 4px;
  }

  .page-footer__copyright {
    width: 130px;
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .page-footer__copyright {
    width: 155px;
    padding: 0;
  }
}
