.page-main__header {
  background: $primary-color url("../img/bg-back-mobile@1x.jpg") no-repeat;
}
.page-main__header--clear {
  margin-top: -110px;
}


.page-main__title {
  display: block;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 35px;
  padding-bottom: 85px;
  font-size: $font-size-large;
  font-weight: 300;
  text-align: center;
  color: $second-color;
}

.page-main__title--clear {
  padding-top: 145px;
}
