.page-main__header {
  background: $primary-color url("../img/bg-back-mobile@1x.jpg") no-repeat center center;
  background-size: cover;
}

.page-main__header--clear {
  margin-top: -110px;
  padding-top: 145px;
}


.page-main__title {
  display: block;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 29px;
  padding-bottom: 83px;
  font-size: $line-height-base;
  line-height: 29px;
  font-weight: 200;
  letter-spacing: -1px;
  text-align: center;
  color: $second-color;
}

/*.page-main__title--clear {
  padding-top: 145px;
}*/

@media (min-width: $tablet-width) {
  .page-main__header--clear {
    margin-top: -110px;
  }

  .page-main__title {
    font-size: $font-size-title-desktop;
    line-height: $line-height-title-tablet;
    letter-spacing: -2.2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 207px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    display: block;
    width: 345px;
    margin: 0 auto;
    padding: 32px 0 103px 0;
    line-height: 57px;
    letter-spacing: 0;
  }
}
