.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  width: 146px;
  margin: 35px auto;
}

.page-footer__social {
  width: 170px;
  margin: -4px auto 37px auto;
  padding-left: 6px;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
  padding: 0 50px 0 57px;

  font-size: $font-size-base;
  line-height: $line-height-med;
  letter-spacing: -0.9px;
  font-weight: 400;
  color: $primary-color;
}

.page-footer__htmlacademy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  margin-top: 2px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 13px 0 20px;
    margin-top: 35px;
  }

  .page-footer--index {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 150px;
    margin: 0;
  }

  .page-footer__social {
    padding-right: 8px;
    padding-left: 0;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    width: 134px;
    margin: 0;
    margin-top: 2px;
    margin-left: 14px;
    padding: 0;
  }

  .page-footer__htmlacademy {
    margin-left: 12px;
    margin-top: 2px;

    & path {
      fill: #d22856;
    }

    &:focus path,
    &:hover path {
      fill: $primary-color;
    }

    &:active path {
      fill: $bg-menu-desktop;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
    margin: 70px auto 0 auto;
    padding: 0 0 0 10px;
  }

  .page-footer__logo {
    margin-left: -3px;
  }

  .page-footer__copyright {
    width: 168px;
    margin-right: -3px;
    padding: 0;

    font-size: $font-size-medium;
    line-height: $line-height-med;
  }

  .page-footer__htmlacademy {
    margin-left: 10px;
    margin-top: 5px;
  }
}
