.page-header {
  position: relative;
  color: $second-color;
  background-color: $primary-color;
  border-top: 1px solid #282828;
}

.page-header--clear {
  background-color: transparent;
  border: none;
}

.page-header__wrapper a {
  margin: 0;
  padding: 0;
}

.page-header__line {
  display: block;
  min-height: 68px;
  background-color: $primary-color;
  border-bottom: 1px solid #000001;
}

.page-header__line--clear {
  min-height: 66px;
  border-bottom: none;
  background-color: $bg-menu-desktop;
}

.page-header__logo svg {
  /*width: 95px; */
  margin: 0;
  padding: 20px 0 16px 20px;

  &:focus path,
  &:hover path {
    fill: $highlight-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  margin: 0;
  padding: 20px 0 16px 20px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    margin: 0 auto;
  }

  .page-header__logo svg {
    width: 150px;  /*временные размеры лого*/
    height: 42px;
    margin: 0;
    padding: 26px 0 33px 20px;
  }

  /*.page-header__logo-image {
    width: 150px;  /*временные размеры лого*/
  /*height: 42px;
    margin: 0;
    padding: 26px 0 33px 20px;
  }

  .page-header__line {
    min-height: 108px;
  }*/
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 110px;
    margin: 0 auto;
    margin-bottom: -110px;
    background-color: $bg-menu-desktop;
    border: none;
    order: -1;
  }

  .page-header__line {
    border: 0;
    background-color: transparent;
  }

  .page-header__wrapper {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    border: none;
  }

  .page-header__logo svg {
    width: 160px;

    height: 50px; /* временные размеры */
    margin: 0;
    padding: 0;
    padding-top: 24px;
  }

  .page-header__logo-image {
    width: 150px;
    height: 50px; /* временные размеры */
    margin: 0;
    padding: 0;
    padding-top: 24px;
  }
}

/*.page-header__toggle {
  position: absolute;
  top: 0;
  right: 17px;
  width: 24px;
  height: 24px;
  margin: 20px 20px 24px 0;
  border: none;
  /*background: url("../img/icon-menu-cross.svg") no-repeat;
}

.page-header__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 17px;

  width: 50px;
  height: 4px;
  border: 2px solid green;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}
*/
