.panorama__inscription {

    background-color: $bg-color;
    margin: -10px 20px 20px 20px;
    padding: 35px 17px 25px 17px;
}
.panorama__author {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 600;
}
.user-photo__time {
  font-size: $font-size-sm;
  line-height: $line-height-base;
  font-weight: 300;
  text-transform: uppercase;
}

.panorama__text {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  margin-bottom: 20px;
}
.panorama__like {
  position: relative;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  font-weight: 400;
  color: $highlight-color;
  padding-left: 30px;
}
.panorama__like::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 12.5px;
  height: 12px;
  background: url('../img/icon-heart1.svg') no-repeat;
}

