.phones {
  display: flex;
  justify-content: center;
  /*background-color: $bg-color;*/
}

.phones__list {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 20px;
}

.phones__item--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .phones__list {
    /*width: 270px;*/
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .phones__list {
    width: $desktop-width;
    justify-content: space-between;
    margin-top: -100px;
    margin-right: 20px;
    margin-bottom: 55px;
  }

  .phones__item--hidden {
    display: block;
  }
}
