.research {
  display: none;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
  }

  .research__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 3% 121px 3%;
  }

  .research__timer {
    position: relative;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 220px;
    height: 220px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 60px;

    font-size: 96px;
    line-height: 150px;
    font-weight: 600;
    color: $highlight-color;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -8px;
      width: 238px;
      height: 276px;
      /*border: 70px solid (0, 0, 0, 0.1)
      border-image-source: url("../img/icon-timer1.svg");
      border-image-slice: 200 149 149 149;
      border-image-repeat: stretch;*/
      background: url("../img/icon-timer1.svg") no-repeat;
      background-clip: content-box;
      background-size: contain;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 9px;
      width: 176px;
      height: 176px;
      margin: 0;
      border: 13px solid $highlight-color;
      border-radius: 50%;
      z-index: 2;
    }
  }

  .research__fact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 280px;
    margin-right: 20px;
    padding: 0 10px 0 18px;
  }

  .research__title {
    font-size: $font-size-adv;
    line-height: 36px; /*calc(1,2 * $line-height-large)? в чем ошибка? */
    font-weight: 600;
    width: 170px;
    margin-top: 37px;
    margin-bottom: 10px;
  }

  .research__text {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  .research-link {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $highlight-color;
    text-decoration: underline;

    /*&:hover,
    &:focus {
      color: $highlight-color-active;
    }

    &:active {
      color: $highlight-color;
    } */
  }
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $bg-color;
  }

  .research__timer {
    position: relative;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 220px;
    height: 220px;
    margin-top: 81px;
    margin-left: 48px;
    margin-right: 60px;

    font-size: 120px;
    line-height: 188px;
    font-weight: 600;
    color: $highlight-color;

    &::before {
      content: "";
      position: absolute;
      top: -80px;
      left: -38px;
      width: 300px;
      height: 345px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -16px;
      width: 220px;
      height: 220px;
      margin: 0;
      border: 17px solid $highlight-color;
      border-radius: 50%;
      z-index: 2;
    }
  }

  .research__wrapper {
    width: $desktop-width;
    padding: 0 10px 112px 10px;
  }

  .research__fact {
    width: 585px;
    margin-left: 55px;
    padding: 0;
    padding-bottom: 53px;
  }

  .research__title {
    font-size: $font-size-adv;
    line-height: $line-height-large;
    width: 300px;
    margin-top: 96px;
    margin-bottom: 24px;
  }

  .research__text {
    font-size: $font-size-medium;
    line-height: $line-height-large;
    margin-bottom: 32px;
  }

  .research-link {
    font-size: $font-size-medium;
    line-height: $line-height-base;
  }
}
