.site-list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.site-list__item {
 padding: 20px 0px;
 color: $second-color;
 background-color: $primary-color;
 border-top: 1px solid #485461;
 border-bottom: 1px solid #000001;
}
.site-list__item  a {
  font-size: $font-size-medium;
  line-height: $line-height-nav;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: $second-color;
}

