@import "normalize";
@import "variables";
@import "scaffolding";
@import "page-header";
@import "main-nav";
@import "site-list";
@import "downloads";
@import "operating-systems";
@import "button";
@import "advantages";
@import "phones";
@import "research";
@import "page-main";
@import "user-photo";
@import "panorama";
@import "photo";
@import "page-footer";
@import "social";
@import "slider"
/*@import "mixins";*/
