.tarif-slider {
  position: relative;
  padding: 42px 20px 20px 20px;
  margin-left: -200px;
  text-align: center;
  z-index: 2;
  background-color: $second-color;
}


.tariff-slider__controls {
  margin: 0 auto;
  padding-left: 16px;
  font-size: 0;
  order: 2;
}

.tariff-slider__controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 18px;

  vertical-align: middle;

  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.left:checked ~ .tariff-slider label[for="left"],
.middle:checked ~ .tariff-slider label[for="middle"],
.right:checked ~ .tariff-slider label[for="right"] {
  background: transparent;
  border: 3px solid #283645;
  border-radius: 50%;
}

.left:checked ~ .tariff-table {
  margin: 0;
  margin-top: 25px;
  border: 2px solid red;
}

/*.left:checked ~ .slider .slide1,
.product-2:checked ~ .slider .slide2,
.product-3:checked ~ .slider .slide3 {
  display: block;
}

.product-1:checked ~ .slider label[for="product-1"],
.product-2:checked ~ .slider label[for="product-2"],
.product-3:checked ~ .slider label[for="product-3"] {
  background: transparent;
  border: 3px solid #283645;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .slider__cover {
    display: flex;
    flex-direction: column;
  }

  .slider__feedback {
    order: -1;
    min-height: 90px;
    font-size: $font-size-medium;
    margin-bottom: 35px;
  }

  .slider__author {
    order: 2;
    font-size: 20px;
    margin-bottom: 2px;
  }

  .slider__subtitle {
    display: block;
    order: 3;
    font-size: $font-size-base;
    line-height: $line-height-large;
    font-weight: 400;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .slider__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 940px;
    margin: 0 auto;
  }

  .slider__arrow-left {
    display: block;
    width: 22px;
    margin: 0;
    padding: 0;
    background: url("../img/icon-review-arrow-left1.svg") no-repeat 0 calc(50% + 10px);
    border: none;
    opacity: 0.3;

    &:hover {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      outline: none;
      opacity: 0.1;
    }
  }

  button.slider__arrow-right {
    display: block;
    width: 22px;
    margin: 0;
    padding: 0;
    background: url("../img/icon-review-arrow-right1.svg") no-repeat 0 calc(50% + 10px);
    border: none;
    opacity: 0.3;

    &:hover {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      outline: none;
      opacity: 0.1;
    }
  }

  .slider__list {
    margin-top: 143px;
    order: 0;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      top: -112px;
      width: 79px;
      height: 64px;
      background: url("../img/icon-quotes1.svg") no-repeat;
    }
  }

  .slider__feedback {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 35px;
    letter-spacing: 0.4px;
  }

  .slider__author {
    font-size: $font-size-large;
    margin-bottom: 2px;
  }

  .slider__subtitle {
    font-size: $font-size-medium;
    margin-bottom: 28px;
  }
}*/
