.user-photo {
  display: block;
  margin: 0 auto 22px;
}

.user-photo__subtitle {
  font-size: $font-size-base;
  line-height: $line-height-large;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.9px;
  padding-top: 44px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 54px;
}

.user-photo__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.user-photo__list li {
  display: flex;
}

@media (min-width: 600px) {
  .user-photo__list {
    padding: 0 50px;
  }
}

@media (min-width: $tablet-width) {
  .user-photo__list {
    justify-content: space-between;
    width: 620px;
    margin: 0 auto 45px;
    padding: 0 20px;
  }

  .user-photo__subtitle {
    font-size: $font-size-medium;
    line-height: $line-height-large;
    letter-spacing: 0;
    /* width: 383px; */
    padding-top: 92px;
    padding-bottom: 76px;
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (min-width: $desktop-width) {
  .user-photo {
    margin-bottom: 5px;
  }

  .user-photo__list {
    width: 940px;
    margin: 0 auto;
  }

  .user-photo__subtitle {
    display: block;
    width: 580px;
    padding: 92px 0 88px 0;
    margin: 0 auto;
    letter-spacing: 0.05px;
  }
}
