.user-photo {
  display: block;
  margin: 0 auto;
}

.user-photo__subtitle {
  font-size: $font-size-base;
  line-height: $line-height-large;
  font-weight: 400;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
  padding-left: 54px;
  padding-right: 54px;
}

.user-photo__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .user-photo__list {
    width: 620px;
    margin: 0 auto;
  }

  .user-photo__subtitle {
    font-size: $line-height-med;
    padding-top: 53px;
    padding-bottom: 58px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .user-photo__list {
    width: 960px;
    margin: 0 auto;
  }

  .user-photo__subtitle {
    display: block;
    width: 509px;
    margin: 0 auto;
  }
}
